@import "./dialog.component";

$dialog--background-color: rgba(0, 0, 0, 0.4);

$dialog__main--width-max: 500px;
$dialog__main--height: 400px;
$dialog__main--border: 2px solid rgb(54, 54, 54);
$dialog__main--width: 98%;

$dialog__article--width-max: 500px;
$dialog__article--height: 400px;

.#{$root} {
    &__dialog[data-dialog="xid-login-modal"] {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: $dialog--background-color;

        .bid__dialog__main {
            max-width: $dialog__main--width-max;
            height: $dialog__main--height;
            border-radius: 0;
            border: $dialog__main--border;
            width: $dialog__main--width;
        }

        .bid__dialog__section__container {
            padding: 0;
        }

        article {
            max-width: $dialog__article--width-max;
            height: $dialog__article--height;
        }
    }
}